<%= form_for(@registry_coordinator) do |f| %>
  <% if @registry_coordinator.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registry_coordinator.errors.count, "error") %> prohibited this registry_coordinator from being saved:</h2>

      <ul>
      <% @registry_coordinator.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
